.Body{
    background-color: rgb(49, 229, 18);

}

.maindiv{
    height: 410px;
    width: 98%;
    background-image: url('https://previews.123rf.com/images/stuartphoto/stuartphoto1701/stuartphoto170100304/68830729-bollywood-music-notes-design-represents-movie-industry-songs-and-audio.jpg');
    background-size: 100% 100%;
    margin: 0 auto;
    animation: slider 9s infinite linear;
    box-shadow: 1px 2px 10px rgb(231, 4, 227);
}
@keyframes slider{
    0%{
        background-image: url('https://www.shutterstock.com/image-vector/template-music-quotes-eps-10-600w-298904384.jpg');
    }
    50%{
        background-image: url('https://png.pngtree.com/png-clipart/20200727/original/pngtree-hiphop-hip-hop-color-gradient-theme-effect-creative-font-png-image_5279160.jpg');
    }
    75%{
        background-image: url('https://freerangestock.com/sample/52585/colorful-music-background-shows-sounds-jazz-and-harmony-.jpg');
    }

    100%{
        background-image: url('https://graphicriver.img.customer.envatousercontent.com/files/414514309/preview.jpg?auto=compress%2Cformat&fit=crop&crop=top&w=590&h=590&s=dc99dff08c37125b05a4ad31934d2f9b');
    }




    
}